section {

  background-color: #9A616D;






}

.btn-info {

  background-color: white;
  border: none;






}





.container-main {

  width: 70rem;
  display: flex;
  justify-content: center;




}
